* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    font-family: 'Bebas Neue', cursive;
}

header {
    /* background-color: #0a192f; */
    display: grid;
    grid-template-columns: 100px 1fr;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    right: 0;
    width: 100vw;
    z-index: 20;
}

header .color-gray-white {
    color: #ccd6f6;
}

.order-number-style {
    list-style: auto;
}

.order-number-style::marker {
    color: #64ffda;
}

.button-costumized {
    color: #64ffda;
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius: 4px;
    padding: 0.75rem 1rem;
    /* font-family: var(--font-mono); */
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    /* transition: var(--transition); */
    margin-left: 15px;
    font-size: 13px;
}

.fullscreen {
    position: relative;
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease;
}

.background-radial-gradient {
    background-image: radial-gradient(circle at center right, rgb(74,87,100) 0%, rgb(74,87,100) 14.286%,rgb(64,75,89) 14.286%, rgb(64,75,89) 28.572%,rgb(54,67,83) 28.572%, rgb(54,67,83) 42.858%,rgb(31,47,66) 42.858%, rgb(31,47,66) 57.144%,rgb(31,46,62) 57.144%, rgb(31,46,62) 71.43%,rgb(20,37,56) 71.43%, rgb(20,37,56) 85.716%,rgb(6,27,52) 85.716%, rgb(6,27,52) 100.002%);
}

.move-out-window {
    transform: translate(0, -100px)
}
.move-out-window-img{
    transform: translate(0, -1000px)
}

.move-out-window-number{
    /* display: none; */
}

.move-out-window-btn {
    transform: translate(-100px, 90vh)
}


.move-inside-window {
    animation-name: mover-arriba-abajo-izq-der;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}

.move-outside-window {
    animation-name: mover-abajo-arriba-der-izq;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}

.move-inside-window-img {
    animation-name: mover-arriba-abajo-der-izq;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}

.move-outside-window-img {
    animation-name: mover-abajo-arriba-izq-der;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}

.move-inside-window-number{
    animation-name: mover-abajo-arriba-der-izq-number;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}

.move-outside-window-number{
    animation-name: mover-arriva-abajo-izq-der-number;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}
.contact-btn-fixed {
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 20;
    font-size: 25px;
    transition: all 0.5s ease;
}
.contact-btn-fixed button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgba(10, 25, 47, 0.85);
    color: #64ffda;
    border: none;
}
.move-outside-window-btn-talk{
    animation-name: mover-arriva-abajo-izq-der-btn-talk;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}

.move-inside-window-btn{
    animation-name: mover-abajo-arriba-izq-der-btn;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}

.move-outside-window-btn{
    animation-name: mover-arriba-abajo-der-izq-btn;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}

.move-btn-scroll-up-down{
    animation-name: mover-boton-hacia-abajo;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}

.move-btn-scroll-down-up{
    animation-name: mover-boton-hacia-arriba;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}

.move-der-izq-cloud{
    animation-name: mover-der-izq;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}

.move-izq-der-cloud{
    animation-name: mover-izq-der;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}

.appear-disappear-btn{
    animation-name: button-animation;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode:both;
}

/* Barras de cargar */
.load-bar-1{
    animation-name: cargar-barra-uno;
    animation-duration: 1.8s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}

.load-bar-2 {
    animation-name: cargar-barra-dos;
    animation-duration: 1.8s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}

.load-bar-3 {
    animation-name: cargar-barra-tres;
    animation-duration: 1.8s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}
.load-bar-4 {
    animation-name: cargar-barra-cuatro;
    animation-duration: 1.8s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}
.load-bar-5 {
    animation-name: cargar-barra-cinco;
    animation-duration: 1.8s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}
.load-bar-6 {
    animation-name: cargar-barra-seis;
    animation-duration: 1.8s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}
.load-bar-7 {
    animation-name: cargar-barra-siete;
    animation-duration: 1.8s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}
.load-bar-8 {
    animation-name: cargar-barra-ocho;
    animation-duration: 1.8s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}

.load-bar-9 {
    animation-name: cargar-barra-nueve;
    animation-duration: 1.8s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}

.card-animation{
    animation-name: moverImagenLeftToRight;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}
.card-animation-y{
    animation-name: mover;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}

.card-animation-y-delay-1{
    animation-name: mover;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}

.card-animation-y-delay-2{
    animation-name: mover;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}

.card-animation-y-delay-3{
    animation-name: mover;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}

.bar-container {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    margin-bottom: 2vh;
}

.logo-tool-container {
    display: flex;
    justify-content: center;
    margin-right: 1vw;
    width: 80px;
    height: 20px;
}

/* Contenedor de botones */
.contenedor-botones {
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.form-input-container input{
    border: 0;
    border-bottom: 1px solid gray;
    opacity: 0.5;
}
.form-input-container label{
    font-size: 10px;
}
.cambio-bg {
    background-image: url(../img/contact-modal-illustration.png);
    background-size: 300px;
    background-repeat: no-repeat;
}
.posicion-boton-close {
    align-self: flex-end;
    margin: 1rem;
}
.prueba-bg {
    background-image: linear-gradient(to top right,#450b7c,#563cc9,#49e9fb);
}
.estilos-text-area {
    border: 0;
    border-bottom: 1px solid black;
    font-size: 12px;
    opacity: 0.7;
}
.modal-spacing {
    padding-top: 180px;
    padding-right: 2rem;
    padding-left: 2rem;
}
.nav-styles-sm{
    display: flex!important;
    background: radial-gradient(black, transparent);
    background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 100vh;
    justify-content: center!important;
    align-items: center!important;
}

#btnMoveSection2 {
    background: transparent;
    border: none;
    color: #ccd6f6;
    font-size: 2rem;
    position: absolute;
    bottom: 50px;
    right: 45vw;
}

#btnMoveSection1 {
    background: transparent;
    border: none;
    color: #ccd6f6;
    font-size: 2rem;
    position: absolute;
    bottom: 1vh;
    right: 45vw;
}

#section-1, #section-2, #section-3 {
    position: absolute;
    transition: all 0.5s ease;
    width: 20vw;
}
#img-section-1, #img-section-2, #img-section-3 {
    position: absolute;
    height: 50vh;
    width: 40vw;
    right: 0;
    transition: all 0.5s ease;
}

#number-section-1, #number-section-2, #number-section-3 {
    position: absolute;
    bottom: 10vh;
    right: 15vw;
    transition: all 0.5s ease;
}

#btn-description-section-1, #btn-description-section-2, #btn-description-section-3 {
    position: absolute;
    width: 35vw;
    transition: all 0.5s ease;
}

#img-cloud-section-2 {
    position: absolute;
    height: 20vh;
    right:5vw;
    top: 0;
}

#img-cloud-section-1 {
    position: absolute;
    height: 20vh;
    top: 10vh;
    right:25vw;
}

#img-cloud-section-3 {
    position: absolute;
    height: 20vh;
    top: 10vh;
    right:25vw;
}

#img-cloud-section-3 {
    position: absolute;
    height: 20vh;
    top: 20vh;
    right: 0;
}

#img-cloud-section-4 {
    position: absolute;
    height: 20vh;
    top: 35vh;
    right:24vw;
}

#img-cloud-section-5 {
    position: absolute;
    height: 20vh;
    top: 45vh;
    right:2vw;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}


.font-size-title {
    font-size: 7.6rem;
}
.font-size-subtitle{
    font-size: 2rem;
}

.font-color-red {
    color: #ff4d5a;
}

.portfolio-title-style{
    position: absolute;
    top: 30%;
    font-size: 5vw;
    z-index: 10;
}

#hamb-logo{
    display: none;
}
.no-mostrar {
    display: none;
}

.load-bar-border {
    width: 100%;
    height: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.fill-color{
    background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
    border-radius: 5px;
    transition: all 0.5s ease;
}

#nav-list{
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    list-style: none;
}

#rombo .contenido{
    border-radius:10px;
    background-color:rgb(60, 221, 185);
    padding:0;
    width:200px;
    height:200px;
    margin:auto;
    text-align:center;
    display:block;
    border:5px solid white;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    /* transform: sesgar (25deg);
    -webkit-transform: asimetría (25deg);
    -moz-transform: sesgar (25deg);
    -ms-transform: sesgar (25deg);
    -o-transform: sesgar (25deg);
    transition: transform  0.1s cubic-bezier(0, 1.8, 1, 1.8); */
}

.container-skills-and-photo {
    /* display: grid; */
    /* justify-content: space-around; */
    /* grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    grid-column-gap: 5vw; */
}

.skills {
    padding: 0 15%;
}

.photo {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: #124170; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transition: all 0.5s ease;
}
/* .photo img{
    opacity: 0.5;
    transition: all 0.5s ease;
} */
.photo:hover {
    opacity: 0.9;
    background-color: #64ffda;
}
/* .photo:hover img{
    opacity: 1;
    width: 90%;
    height: 90%;
} */
.adaptar-imagen-dev {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    width: 290px;
    height: 290px;
    object-fit: cover;
}
.adaptar-imagen-dev:hover {
    opacity: 0.5;
}
.animacion-foto-perfil {
    transition: all 0.5s ease;
    animation-name: agrandar-imagen;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}
@keyframes agrandar-imagen {
    0% { opacity: 0.5;
       }
   100% { opacity: 1;
            width: 100%;
            height: 100%;
   }
}
.center-content {
    display: block;
    padding: 0 10%;
    text-align: center;
}
.about-me-data{
    display: none;
}
.about-me-bg-sm {
    display: none;
}
.about-me-bg-lg {
    /* background: rgb(2,0,36);
    background-image: linear-gradient(to right top, #a4a9b0, #b2bdc1, #c4d1d0, #dae4de, #f3f6ed); */
    /* clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%); */
    height: 400px;
    display: flex;
    align-items: center;
}
.about-me-data-lg{
    display: block;
    padding: 0 10%;
    /* text-align: center; */
}
.letter-styles {
    color: #353945;
    font-size: calc(12x + 0.5vw);
    line-height: 1.3;
}
.altura-imagen-primer-seccion {
    height: 450px;
}
.body-about-me {
    /* background-color: #0a192f; */
    /* background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23064e77'/%3E%3Cstop offset='1' stop-color='%230a7dbe'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%238f8f8f'/%3E%3Cstop offset='0.09' stop-color='%23b3b3b3'/%3E%3Cstop offset='0.18' stop-color='%23c9c9c9'/%3E%3Cstop offset='0.31' stop-color='%23dbdbdb'/%3E%3Cstop offset='0.44' stop-color='%23e8e8e8'/%3E%3Cstop offset='0.59' stop-color='%23f2f2f2'/%3E%3Cstop offset='0.75' stop-color='%23fafafa'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E"); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
.presentation-bg{
    position:absolute;
    top: 110px;
    width: 100vw;
    text-align: center;
    /* padding-top: 13vh;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    background-image: linear-gradient(to right top, #a4a9b0, #b2bdc1, #c4d1d0, #dae4de, #f3f6ed);
    height: 600px;
    display: flex;
    align-items: center; */
}
.btn-education {
    text-decoration: none;
    background-color: transparent;
    /* color: #8892b0;
    font-size: 13px; */
    border: 0;
    border-left: 2px solid #233554;
    transition: all 0.5s ease;
}

.general-styles-ed-data {
    transition: all 0.5s ease;
}

.selected-btn-education {
    border-left: 2px solid #64ffda;
}

.deselected-btn-education {
    border-left: 2px solid #233554;
}
.selected-btn-education-sm {
    border-top: 2px solid #64ffda !important;
}

.deselected-btn-education-sm {
    border-top: 2px solid #233554 !important;
}

.education-button-container {
    display: grid;
}
.work-experience-button-container {
    display: grid;
}

.education-container {
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gray-white-color {
    color: #353945;
}

.green-color {
    color: #64ffda;
}

.blue-color {
    color: #2b51c6;
}

.gray-darker-color {
    color:#353945;
}

.hide-education-information{
    display: none;
}

.show-education-information{
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.footer-styles{
    display: block;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.text-size-pequeño {
    font-size: 15px;
}

.square-2 {
    background-image: linear-gradient(to top right,#450b7c,#563cc9,#49e9fb);
 backdrop-filter: blur(10px);
 transform: translate(0, 80px) rotate( 
            -18deg
             );
    height: 40vh;
    width: 200%;
    text-align: center;
}

.social-media {
    width: 150px;
    position: absolute;
    top: 20%;
    left: 10%;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    font-size: 40px;
}
.derechos-reservados {
    position: absolute;
    right: 20%;
    top: 5%;
    color: #ff4d5a;
    z-index: 10;
}

.logo-footer-container {
    width: 90px;
    display: flex;
    height: 90px;
    margin: 0 auto;
}

.padding-top-costumized {
    padding-top: 9vh;
}

.modify-background{
    padding: 5px 3vw;
    background-image: linear-gradient(to top right,#450b7c,#563cc9,#49e9fb);
    backdrop-filter: blur(10px);
    opacity: 1;
    transition: all 0.3s ease;
}

.ocultar-header {
    transition: all 0.3s ease-out;
    transform: translate(0, -110px);
    /* opacity: 0;
    height: 0; */
    overflow: hidden;
}

.mostrar-header {
    position: fixed;
    transform: translate(0, 50px);
    top: -65px;
    left: 0;
    right: 0;
    z-index: 20;
    /* transition: 0.2s top cubic-bezier(.5,.73,.5,.74); */
}

.titulos-secciones {
    color: #ccd6f6;
    font-weight: 900;
}
.project-content {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
}
.project-overline {
    display: block;
    position: relative;
    z-index: 10;
    margin: 10px 0px;
    color: #353945;
    font-size: 13px;
    font-weight: 400;
}
.project-title a {
    position: relative;
    z-index: 10;
    color: #fdfdfd;
    font-size: clamp(24px, 5vw, 28px);
    margin: 0px 0px 20px;
    text-decoration: none;
}

.project-description {
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    z-index: 2;
    padding: 5px;
    border-radius: 4px;
    background-color: #112240;
    color: #a8b2d1;
    font-size: 15px;
}
.project-description p {
    font-size: 14px;
}
.project-tech-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 10px 0px 0px;
    padding: 0px;
    list-style: none;
}

.project-tech-list li {
    margin: 0px 20px 5px 0px;
    color: #f1f1f1;  ;
    font-size: 13px;
    white-space: nowrap;
}

.project-links {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-left: -10px;
    font-size: 20px;
    color: #353945;
}

.project-links a {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);;
}
.project-links a:hover{
    color: #64ffda;
}
.red-a:hover {
    color: #353945;
}

.estilosli {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 400px;
    -webkit-box-align: center;
    align-items: center;
}

.estilo-imagen-background:hover {
    opacity: 0.5;
}

#hexagon {
    width: 100px;
    height: 57.735px;
    background: red;
    position: relative;
  }
  #hexagon::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid red;
  }
  #hexagon::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid red;
  }
  footer::after {
    content: "";
    position: absolute;
    clip-path: polygon(100% 11%, 11% 100%, 100% 100%);
    background-image: linear-gradient(to top right,#450b7c,#563cc9,#49e9fb);
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    top: 0;
  }

@keyframes mover-arriba-abajo-izq-der {
    0% { transform: translate(0, -100px);
         opacity: 0;
        }
    100% { transform: translate(5vw, 20vh);
           opacity: 1;
    }

}

@keyframes mover-abajo-arriba-der-izq {
    0% { transform: translate(0, 0);
         opacity: 0;
        }
    100% { transform: translate(-5vw, -20vh);
           opacity: 1;
    }

}

@keyframes mover-abajo-arriba-der-izq-number {
    0% { transform: translate(10vw, 10vh);
        opacity: 0;
       }
   100% { transform: translate(0, 0);
          opacity: 1;
   }
}

@keyframes mover-arriva-abajo-izq-der-number {
    0% { transform: translate(0, 0);
        opacity: 0;
       }
   100% { transform: translate(-10vw, -10vh);
          opacity: 1;
   }
}
@keyframes mover-arriva-abajo-izq-der-btn-talk {
    0% { transform: translate(0, 0);
        opacity: 0;
       }
   100% { transform: translate(-92vw, 67vh);
          opacity: 1;
   }
}


@keyframes mover-arriba-abajo-der-izq {
    0% { transform: translate(0, -1000px);
         opacity: 0;
        }
    100% { transform: translate(-5vw, 20vh);
           opacity: 1;
    }

}


@keyframes mover-abajo-arriba-izq-der {
    0% { transform: translate(0, 0);
        opacity: 0;
       }
   100% { transform: translate(0, -1000px);
          opacity: 1;
   }
}

@keyframes mover-abajo-arriba-izq-der-btn {
    0% { transform: translate(0px, 100vh);
        opacity: 0;
       }
   100% { transform: translate(5vw, 70vh);
          opacity: 1;
   }
}

@keyframes mover-arriba-abajo-der-izq-btn {
    0% { transform: translate(0, 0);
        opacity: 0;
       }
   100% { transform: translate(0, -100vh);
          opacity: 1;
   }
}

/* @keyframes mover-abajo-arriba-der-izq {
    0% { transform: translate(100vw, 100vh);
        opacity: 0;
       }
   100% { transform: translate(95vw, 75vh);
          opacity: 1;
   }
} */

@keyframes mover-boton-hacia-abajo {
    0% { transform: translate(-20px, -20px);
        opacity: 0;
       }
   100% { transform: translate(0, 0);
          opacity: 1;
   }
}

@keyframes mover-boton-hacia-arriba {
    0% { transform: translate(20px, 20px);
        opacity: 0;
       }
   100% { transform: translate(0, 0);
          opacity: 1;
   }
}

@keyframes mover-der-izq {
    0% { transform: translate(5vw, 0);
        opacity: 0;
       }
   100% { transform: translate(0, 12vh);
          opacity: 1;
   }
}

@keyframes mover-izq-der {
    0% { width: 30vw;
        opacity: 1;
       }
   100% { width: 0;
          opacity: 0;
   }
}

@keyframes button-animation {
    0% {
        opacity: 0;
       }
   100% {
          opacity: 1;
   }
}

/* Estilo de las load bars */
@keyframes cargar-barra-uno {
    0% { width: 0%;
        opacity: 0;
       }
   100% { width: 100%;
          opacity: 1;
   }
}

@keyframes cargar-barra-dos {
    0% { width: 0%;
        opacity: 0;
       }
   100% { width: 100%;
          opacity: 1;
   }
}

@keyframes cargar-barra-tres {
    0% { width: 0%;
        opacity: 0;
       }
   100% { width: 80%;
          opacity: 1;
   }
}

@keyframes cargar-barra-cuatro {
    0% { width: 0%;
        opacity: 0;
       }
   100% { width: 100%;
          opacity: 1;
   }
}

@keyframes cargar-barra-cinco {
    0% { width: 0%;
        opacity: 0;
       }
   100% { width: 80%;
          opacity: 1;
   }
}

@keyframes cargar-barra-seis {
    0% { width: 0%;
        opacity: 0;
       }
   100% { width: 70%;
          opacity: 1;
   }
}

@keyframes cargar-barra-siete {
    0% { width: 0%;
        opacity: 0;
       }
   100% { width: 70%;
          opacity: 1;
   }
}


@keyframes cargar-barra-ocho {
    0% { width: 0%;
        opacity: 0;
       }
   100% { width: 60%;
          opacity: 1;
   }
}

@keyframes mostrar-ed-data {
    0% { width: 0%;
        opacity: 0;
       }
   100% { width: 100%;
          opacity: 1;
   }
}
@keyframes ocultar-ed-data {
    0% { width: 100%;
        opacity: 0;
       }
   100% { width: 0%;
          opacity: 1;
   }
}

@keyframes cargar-barra-nueve {
    0% { width: 0%;
        opacity: 0;
       }
   100% { width: 95%;
          opacity: 1;
   }
}

@keyframes moverImagenLeftToRight {
    0% { transform: translateX(50px);
         opacity: 0;
        }
    100% { transform: translateX(0px);
           opacity: 1;
    }

}

@keyframes mover {
    0% { transform: translateY(50px);
         opacity: 0;
        }
    100% { transform: translateY(0px);
           opacity: 1;
    }

}

.project-image {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;
    border: 5px solid black;
    width: 80%;
    height: 300px;
    border-bottom-width: 40px;
    border-top-width: 30px;
    border-radius: 15px;
}
.project-image::after {
    content: '';
    display: block;
    background: black;
    height: 20px;
    margin-top: 3rem;
}

.project-image::before {
    content: '';
    display: block;
    width: 80px;
    height: 10px;
    position: absolute;
    background: #ccd6f6;
    bottom: -3.9rem;
    left: 42%;
}

.project-image img{
    object-fit: cover;
}

.work-experience-bg {
    /* background: rgb(2,0,36);
    background-image: linear-gradient(to right top, #a4a9b0, #b2bdc1, #c4d1d0, #dae4de, #f3f6ed); */
    /* clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%); */
    height: 400px;
    display: flex;
    align-items: center;
}

.work-experience-container {
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

  @-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mover-link-1-hacia-arriba {
    0% { transform: translate(0, -10px);
        opacity: 0;
       }
   100% { transform: translate(0, 0);
          opacity: 1;
   }
}

@keyframes mover-tag-html-arriba-abajo {
    0% { transform: translate(0, 0) rotateY(0deg);
        opacity: 0;
       }
   100% { transform: translate(0, 60px) rotateY(360deg);;
          opacity: 1;
   }

}
.tag-1{
    left: 5%;    
}
.tag-2{
    left: 15%;
    top: 40px;
}
.tag-3{
    top: 140px;
    left: 15%;
}
.tag-4{
    top: 100px;
    left: 5%;
}
.tag-5{
    left: 75%;
}
.tag-6 {
    top: 40px;
    left: 90%;
}
.tag-7 {
    left: 75%;
    top: 100px;
}
.tag-8 {
    left: 90%;
    top: 140px;
}
.tag-html-animation{
    animation-name: mover-tag-html-arriba-abajo;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode:both;
}
.mover-link-1 {
    animation-name: mover-link-1-hacia-arriba;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}
.mover-link-2 {
    animation-name: mover-link-1-hacia-arriba;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}
.mover-link-3 {
    animation-name: mover-link-1-hacia-arriba;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-delay: 0.6s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}
.mover-link-4 {
    animation-name: mover-link-1-hacia-arriba;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-delay: 0.9s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}
.mover-link-5 {
    animation-name: mover-link-1-hacia-arriba;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}
.mover-link-6 {
    animation-name: mover-link-1-hacia-arriba;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px 10px;
    font-weight: 600;
    color: #fdfdfd;
    line-height: 1.1;
}

.big-heading {
    margin: 0px;
    font-size: clamp(40px, 8vw, 65px);
}

.color-gris-oscuro {
    margin-top: 10px;
    color: #8892b0;
    line-height: 0.9;
}

.estilos-presentacion-inicial{
    color: #353945;
    font-size: 20px;
    line-height: 1.3;
}
.color-azul-oscuro {
    color: #010c2f;
}
.numbered-heading-section {
    color: #353945;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    white-space: nowrap;
}
.numbered-heading-section::before {
    position: relative;
    bottom: 4px;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: #64ffda;
    font-weight: 400;
}

.numbered-heading-section::after {
    content: "";
    display: block;
    position: relative;
    opacity: 0.2;
    top: -5px;
    width: 30vw;
    height: 1px;
    margin-left: 20px;
    background-color: #2b51c6;
}

.numbered-heading-section-2 {
    color: #353945;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    white-space: nowrap;
}
.numbered-heading-section-2::before {
    position: relative;
    bottom: 4px;
    counter-increment: section 1;
    content: "02.";
    margin-right: 10px;
    color: #64ffda;
    font-weight: 400;
}

.numbered-heading-section-2::after {
    content: "";
    display: block;
    position: relative;
    opacity: 0.2;
    top: -5px;
    width: 30vw;
    height: 1px;
    margin-left: 20px;
    background-color: #2b51c6;
}

.color-verde-claro {
    color: #64ffda;
}

.color-verde-claro:hover {
    color: #64ffda;
}


.btn-to-top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    color: #64ffda;
    background: rgba(10, 25, 47, 0.85);
}

.btn-to-top-container {
    font-size: 25px;
    position: absolute;
    bottom: 95px;
    left: 85vw;
    z-index: 10;
}

.numbered-heading-section-3 {
    color: #353945;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    white-space: nowrap;
}
.numbered-heading-section-3::before {
    position: relative;
    bottom: 4px;
    counter-increment: section 1;
    content: "03.";
    margin-right: 10px;
    color: #64ffda;
    font-weight: 400;
}


.numbered-heading-section-3::after {
    content: "";
    display: block;
    position: relative;
    opacity: 0.2;
    top: -5px;
    width: 30vw;
    height: 1px;
    margin-left: 20px;
    background-color: #2b51c6;
}

.numbered-heading-section-4 {
    color: #353945;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    white-space: nowrap;
}
.numbered-heading-section-4::before {
    position: relative;
    bottom: 4px;
    counter-increment: section 1;
    content: "04.";
    margin-right: 10px;
    color: #64ffda;
    font-weight: 400;
}

.numbered-heading-section-4::after {
    content: "";
    display: block;
    position: relative;
    opacity: 0.2;
    top: -5px;
    width: 30vw;
    height: 1px;
    margin-left: 20px;
    background-color: #2b51c6;
}
.smartphone {
    position: relative;
    width: 360px;
    height: 640px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
  }

  /* The horizontal line on the top of the device */
  .smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
  }

  /* The circle on the bottom of the device */
  .smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
  }

  .laptop {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(.6) translate(-50%); /* Scaled down for a better Try-it experience (change to 1 for full scale) */
    transform: scale(.6) translate(-50%); /* Scaled down for a better Try-it experience (change to 1 for full scale) */
    left: 50%;
    position: absolute;
    width: 1366px;
    height: 800px;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    border-width: 24px 24px 80px;
    background-color: black;

  }

  /* The keyboard of the laptop */
  .laptop:after {
    content: '';
    display: block;
    position: absolute;
    width: 1600px;
    height: 60px;
    margin: 80px 0 0 -110px;
    background: black;
    border-radius: 6px;
  }

  /* The top of the keyboard */
  .laptop:before {
    content: '';
    display: block;
    position: absolute;
    width: 250px;
    height: 30px;
    bottom: -110px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    background: #f1f1f1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
  }
.estilo-imagen-background {
    opacity: 1;
    background-image: url(../img/fotoPerfil.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all 0.3s ease;
}

.img-background-li-item {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: all 0.5s ease;
}

.img-background-li-item.img-proy:hover{
    opacity: 1;
}

.clase-adicional {
    position: absolute;
top: 20px;
right: 20px;
color: #FFF;
display: flex;
justify-content: flex-end;
align-items: center;
padding-right: 2rem;
font-size: 2rem;
}

.estilo-li {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 400px;
    -webkit-box-align: center;
    align-items: center;
    /* background: #64ffda; */
}
.color-gris-oscuro {
    margin-top: 70px;
    color: #8892b0;
    line-height: 0.9;
}
.img-proy{
    object-fit: contain;
    opacity: 0.4;
}
.container-img-card:hover .table-img-styles {
    transform: scale(1.1) rotate(2deg);
}

.container-img-card:hover > .details {
    width: 100%;
    left: 0;
}
p {
    font-size: calc(14px + 0.5vw);
}
h3 {
    font-size: calc(19px + 0.5vw);
}
h2 {
    font-size: calc(17px + 0.5vw);
}
.details{
    /* clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%); */
    margin: 0;
    list-style: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .5s;
    background: rgb(2,0,36);
    /* background-image: linear-gradient(to right top, #a4a9b0, #b2bdc1, #c4d1d0, #dae4de, #f3f6ed); */
    opacity: 0.9;
    color: #fff;
    padding: 10px;
    width: 0;
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.perfil-img-animation {
    position: absolute;
    z-index: 10;
    color: #8892b0;
    font-size: 1.5rem;
}
.container-img-card {
    overflow: hidden;
    width: 80%;
}
.table-img-container {
    /* height: 250px; */
    /* margin: 0 auto;
    width: 90%;  */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .2s;
    /* clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%); */
}
.table-img-styles {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform .2s;
}
.projects-section-styles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  @media (max-width: 1440px) {
    .project-image {
        box-shadow: 0 10px 30px -15px var(--navy-shadow);
        transition: var(--transition);
        grid-area: 1 / 6 / -1 / -1;
        position: relative;
        z-index: 1;
        border: 5px solid black;
        width: 70%;
        height: 300px;
        border-bottom-width: 40px;
        border-top-width: 30px;
        border-radius: 15px;
    }
    .project-image::before {
        content: '';
        display: block;
        width: 80px;
        height: 10px;
        position: absolute;
        background: #ccd6f6;
        bottom: -3.9rem;
        left: 45%;
    }
}
  @media (max-width: 1024px) {
      .square-2 {
        transform: translate(0, 80px) rotate( 
            -18deg
             );
      }
    .project-image {
        box-shadow: 0 10px 30px -15px var(--navy-shadow);
        transition: var(--transition);
        grid-area: 1 / 6 / -1 / -1;
        position: relative;
        z-index: 1;
        border: 5px solid black;
        width: 90%;
        height: 300px;
        border-bottom-width: 40px;
        border-top-width: 30px;
        border-radius: 15px;
    }
}
@media (max-width: 900px) {
    .square-2 {
        transform: translate(0, 80px) rotate( 
            -17deg
             );
    }
    .project-content {
        position: relative;
        grid-area: 1 / 2 / -1 / 10;
    }
}
@media (max-width: 768px) {
    .hide-bottom-menu {
        list-style: none;
        background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 25;
    }
    .estilos-modificados-modal {
        display: flex!important;
    background: radial-gradient(black, transparent);
    background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 100vh;
    justify-content: center!important;
    align-items: center!important;
    }
    .btn-to-open-menu-container {
        font-size: 25px;
        position: absolute;
        bottom: 200px;
        left: 83vw;
        z-index: 10;
    }
    .project-links a {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        padding: 5px;
        position: relative;
        z-index: 1;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        color: inherit;
        position: relative;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .project-links {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        position: relative;
        margin-top: 10px;
        margin-left: -10px;
        font-size: 25px;
        color: #64ffda;
    }
    .project-description p {
        font-size: 10px;
    }
    .social-media {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        margin: 0 20px;
        font-size: 40px;
    }
    .derechos-reservados {
        position: relative;
        right: 0; 
        top: 0; 
        color: #ff4d5a;
        z-index: 10;
    }
    .footer-styles{
        display: grid;
        justify-content: center;
    }
    p {
        font-size: calc(12px + 0.5vw);
    }
    h3 {
        font-size: calc(17px + 0.5vw);
    }
    h2 {
        font-size: calc(15px + 0.5vw);
    }
    header {
        /* background-color: #0a192f; */
        display: grid;
        grid-template-columns: 100px 1fr;
        position: relative;
        top: 0;
        left: 0;
        background: transparent;
        right: 0;
        width: 100vw;
        z-index: 20;
    }
    .square-2 {
        transform: translate(0, 100px) rotate( 
            -20deg
             );
    }
    #img-cloud-section-2 {
        position: absolute;
        width: 30vw;
        right: 5vw;
        right: 15vw;
        top: 10vh;
    }

    #img-cloud-section-1 {
        position: absolute;
        width: 30vw;
        top: 15vh;
        right: 60vw;
    }

    #img-cloud-section-3 {
        position: absolute;
        width: 30vw;
        top: 25vh;
        right: 15vw;
    }
    #img-cloud-section-4 {
        position: absolute;
        width: 30vw;
        top: 30vh;
        right: 55vw;
    }

    #img-cloud-section-5 {
        position: absolute;
        width: 30vw;
        top: 40vh;
        right: 30vw;
    }
    #img-section-1, #img-section-2, #img-section-3 {
        position: absolute;
        height: 45vh;
        width: 50vw;
        right: 20vw;
        transition: all 0.5s ease;
    }
    .font-size-title {
        font-size: 1.6rem;
    }
    #section-1, #section-2, #section-3 {
        position: absolute;
        transition: all 0.5s ease;
        width: auto;
        bottom: 45vh;
    }
    .font-size-subtitle{
        font-size: 1rem;
    }

    #btn-description-section-1, #btn-description-section-2, #btn-description-section-3 {
        position: absolute;
        width: 80vw;
        transition: all 0.5s ease;
        top: 2vh;
    }
    #nav-list {
        display: none;
    }
    #hamb-logo{
        position: relative;
        color: #FFF;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 2rem;
        font-size: 2rem;
    }
    .container-skills-and-photo {
        display: grid;
        /* justify-content: space-around; */
        grid-template-columns: 1fr;
        /* justify-content: center; */
        align-items: center;
        /* grid-row-gap: 15vw; */
        grid-template-rows: repeat(2, auto);
    }
    .about-me-bg-sm {
        /* background: rgb(2,0,36);
        background-image: linear-gradient(to right top, #a4a9b0, #b2bdc1, #c4d1d0, #dae4de, #f3f6ed); */
        clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
        height: 500px;
        display: flex;
        align-items: center;
    }
    .about-me-data{
        display: block;
        padding: 0 10%;
        text-align: center;
    }
    /* .about-me-bg-lg{
        display: none;
    } */
    .project-image {
        box-shadow: 0 10px 30px -15px var(--navy-shadow);
        transition: var(--transition);
        grid-area: 1 / 6 / -1 / -1;
        position: relative;
        z-index: 1;
        border: 5px solid black;
        width: 50%;
        height: 300px;
        border-bottom-width: 40px;
        border-top-width: 30px;
        border-radius: 15px;
    }
    .project-image::after {
        content: '';
        display: none;
        background: black;
        height: 20px;
        margin-top: 3rem;
    }

    .project-image::before {
        content: '';
        display: none;
        width: 80px;
        height: 10px;
        position: absolute;
        background: #ccd6f6;
        bottom: -3.9rem;
        left: 42%;
    }
    .education-container {
        height: 30vh;
        display: grid;
        grid-template-columns: 1fr;
    }
    .education-button-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .work-experience-button-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .btn-education {
        text-decoration: none;
        background-color: transparent;
        color: #8892b0;
        font-size: 13px;
        border: 0;
        border-top: 2px solid #233554;
        transition: all 0.5s ease;
    }
    .work-experience-container {
        height: 40vh;
        display: grid;
        grid-template-columns: 1fr;
    }
    .center-content {
        display: block;
        padding: 0 0;
        /* text-align: center; */
    }
    .show-education-information {
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
        height: 200px;
    }
    /* .presentation-bg {
        padding-top: 0;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
        background-image: linear-gradient(to right top, #a4a9b0, #b2bdc1, #c4d1d0, #dae4de, #f3f6ed);
        height: 70vh;
        display: flex;
        align-items: center;
    } */
    .altura-imagen-primer-seccion {
        height: 150px;
    }
    .project-description {
        box-shadow: 0 10px 30px -15px rgb(2 12 27 / 70%);
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
        position: relative;
        z-index: 2;
        padding: 0px;
        border-radius: 4px;
        background-color: #112240;
        color: #a8b2d1;
        font-size: 12px;
    }
    .project-overline {
        display: none;
        position: relative;
        z-index: 10;
        margin: 10px 0px;
        color: #353945;
        font-size: 13px;
        font-weight: 400;
    }
    .details {
        /* clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%); */
        margin: 0;
        list-style: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
        margin: auto;
        transition: left .5s;
        background: rgb(2,0,36);
        /* background-image: linear-gradient(to right top, #a4a9b0, #b2bdc1, #c4d1d0, #dae4de, #f3f6ed); */
        opacity: 0.9;
        color: #fff;
        padding: 10px;
        width: 0;
        font-size: .9rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        left: 0;
    }
    .color-gris-oscuro {
        margin-top: 10px;
        color: #8892b0;
        line-height: 0.9;
    }
    @keyframes mover-arriva-abajo-izq-der-btn-talk {
        0% { transform: translate(0, 0);
            opacity: 0;
           }
           100% { transform: translate(-87vw, 65vh);
            opacity: 1;
            }
    }
    .btn-to-top-container {
        font-size: 25px;
        position: absolute;
        bottom: 60px;
        left: 83vw;
        z-index: 10;
    }
  }
@media (max-width: 576px) {
    .square-2 {
        transform: translate(0, 100px) rotate( 
-27deg
 );
    }
    .project-image {
        box-shadow: 0 10px 30px -15px var(--navy-shadow);
        transition: var(--transition);
        grid-area: 1 / 6 / -1 / -1;
        position: relative;
        z-index: 1;
        border: 5px solid black;
        width: 70%;
        height: 300px;
        border-bottom-width: 40px;
        border-top-width: 30px;
        border-radius: 15px;
    }
    .project-image::after {
        content: '';
        display: none;
        background: black;
        height: 20px;
        margin-top: 3rem;
    }

    .project-image::before {
        content: '';
        display: none;
        width: 80px;
        height: 10px;
        position: absolute;
        background: #ccd6f6;
        bottom: -3.9rem;
        left: 42%;
    }
}
@media (max-width: 500px ) {
    .project-image {
        box-shadow: 0 10px 30px -15px var(--navy-shadow);
        transition: var(--transition);
        grid-area: 1 / 6 / -1 / -1;
        position: relative;
        z-index: 1;
        border: 5px solid black;
        width: 70%;
        height: 300px;
        border-bottom-width: 40px;
        border-top-width: 30px;
        border-radius: 15px;
    }
    .project-image::after {
        content: '';
        display: none;
        background: black;
        height: 20px;
        margin-top: 3rem;
    }

    .project-image::before {
        content: '';
        display: none;
        width: 80px;
        height: 10px;
        position: absolute;
        background: #ccd6f6;
        bottom: -3.9rem;
        left: 42%;
    }
}

@media (max-width: 425px ) {
    .square-2 {
        transform: translate(0, 160px) rotate( 
    -30deg
     );
    }
    .project-image {
        box-shadow: 0 10px 30px -15px var(--navy-shadow);
        transition: var(--transition);
        grid-area: 1 / 6 / -1 / -1;
        position: relative;
        z-index: 1;
        border: 5px solid black;
        width: 80%;
        height: 300px;
        border-bottom-width: 40px;
        border-top-width: 30px;
        border-radius: 15px;
    }
}
@media (max-width: 375px ) {
    .square-2 {
        transform: translate(0, 160px) rotate( 
    -30deg
     );
    }
    .project-image {
        box-shadow: 0 10px 30px -15px var(--navy-shadow);
        transition: var(--transition);
        grid-area: 1 / 6 / -1 / -1;
        position: relative;
        z-index: 1;
        border: 5px solid black;
        width: 80%;
        height: 250px;
        border-bottom-width: 40px;
        border-top-width: 30px;
        border-radius: 15px;
    }
}
@media (max-width: 320px ) {
    .project-image {
        box-shadow: 0 10px 30px -15px var(--navy-shadow);
        transition: var(--transition);
        grid-area: 1 / 6 / -1 / -1;
        position: relative;
        z-index: 1;
        border: 5px solid black;
        width: 80%;
        height: 250px;
        border-bottom-width: 40px;
        border-top-width: 30px;
        border-radius: 15px;
    }
}